<div style="width:375px;">
    <div class="modal_heading">
        <div class="lft fltlft"></div>
        <div class="mdl fltlft" style="width:303px; text-align:center;">
            Import Employee
        </div>
        <div class="rht fltlft"></div>
        <div class="clear"></div>
    </div>
    <div class="modal_body">
        <form action="" enctype="multipart/form-data" id="importEmployee" name="importEmployee" method="post">
        <table class="listing_tbl">
            <tr>
            <td<b>Files to Import: </b></td>
            <td><input name="file_import" type="file" id="file_import" /></td>
            </tr>
            <tr>
            <td></td>
            <td>
                <input name="add" id="add" type="button" value="Import" onclick="inportEmployeeData();" class="login_btn">
            </td>
          </tr>	
        </table>
        </form>
    </div>
</div>
{literal}
<script type="text/javascript">
	forminfo("#importEmployee");
	function  import_validate() {
		var validator=$("#importEmployee").validate({
			rules: {
				"file_import": {
					required:true
				}
			},
			messages: {
				"file_import": {
					required:flexymsg.required
				}
			}
		});
		return validator.form();
	}
	
	function inportEmployeeData(){
	   var res = import_validate();
       if(res) {
        cShowActivity('1');
        document.importEmployee.action = "##LBL_SITE_URL##index.php/employee/importEmployeeData";
        document.importEmployee.submit();
       }else{
       var res = import_validate();
       }
	}
</script>
{/literal}
