{* notag *}
<div id="setting_departmentlisting">{include file=setting/departmentlisting}</div>
{literal}
	<script type="text/javascript">
	function remove_department(id,chc){
		var url="##LBL_SITE_URL##index.php/setting/remove_department/ce-0";
		if(chc==''){
			chc=jqueryConfirm("Do you really want to delete this department?","remove_department",id);
		}
		var qstart=$("#start").val();
         	var cnt=$("#cnt").val();
		if(chc){
		 	cShowActivity('1');
			$.post(url,{id_department:id,qstart:qstart,cnt:cnt},function(res){
				if(check_JSsession(res,1)) {
			 		cHideActivity();
					$('#setting_departments').html(res);
				}
			});
		}else{
			return false;
		}
	}
	function addEditDepartment(ch,id){ 
		var url="##LBL_SITE_URL##index.php/setting/addEditDepartment/ce-0";
		cShowActivity('');
		$.post(url,{ch:ch,id:id},function(res){
			if(check_JSsession(res,0)) {
				show_fancybox(res);
			}
		});
	}
	</script>
{/literal}

