<div class="cont" id="adminstration_Leavescheme">
    <div class="cont_bg_top"></div>
    <div class="cont_bg_mdl">
   	<div class="content">

            <div style="margin-right:10px;">
            <div class="cont_hdr1 fltlft" style="padding-left:10px;">
                <div class="cont_hdr_lft fltlft"></div>
                <div class="cont_hdr_mdl1 fltlft" style="width:881px;">LeaveScheme list ({$sm.list|@count})
                <div class="fltrht">{if $smarty.session.id_company}<input type="button" name="addleavescheme" value="Add" onclick="addLeaveScheme();" class="login_btn"/>{/if}</div>
                <div class="clear"></div>
                </div>
                <div class="cont_hdr_rht fltlft"></div>
            </div>
            <div class="clear"></div>

<div class="cont_txt" style="margin-left:10px;">
                        <div class="txtbg_top fltlft"></div>
                        <div class="txtbg_mdl fltlft">


                <input type="hidden" name="update_id" value="{$sm.res_personal.id_employee}" id="upd_id">
                {if $sm.list}<br />
                <table class="tbl_listing mrgtp0">
                        <thead>
                            <tr>
                                <th><b>Leave Scheme Name</b></th>
                                <th><b>Serial No.</b></th>
                                <th><b>Leave Days</b></th>
                                {if $smarty.session.id_company}
                                <th><b>Action</b></th>
                                {/if}
                            </tr>
                        </thead>
                        <tbody>
                        {section name=cur loop=$sm.list}
                        {assign var=x value=$sm.list[cur]}
                            <tr class="{cycle values="even,odd"}">
                            <td>{$x.Leave_schemename|capitalize:true|default:"NA"}</td>
                            <td>{$x.id_leave_type|default:"NA"}</td>
                            <td>{$x.leave_elgidays|wordwrap:40:"<br />"|default:"NA"}</td>
                            {if $smarty.session.id_company}
                            <td>
                            <a href="javascript:void(0);" onclick="editLeaveScheme('edit','{$x.id_leave_scheme}')">
                                    <img src="##LBL_SITE_URL##templates/images/blue/edit_img.png" alt="" title="Edit"/></a>
                                <img src="##LBL_SITE_URL##templates/images/blue/delete_img.png" alt="delete" title="Delete" onclick="return del('{$x.id_leave_scheme}','');" style="cursor:pointer;">
                            </td>
                            {/if}
                            </tr>
                            {/section}
                        </tbody>
                     </table>
                        {else}<br />
                            <div align="center">There is no leave scheme</div>
                        {/if}


                        </div>
                        <div class="txtbg_btm fltlft"></div>
                        <div class="clrbth"></div>
</div>

            </div>
            <div class="clear"></div>
        </div>
	</div>
    <div class="cont_bg_btm"></div>
</div>










{literal}
<script type="text/javascript">
function addLeaveScheme(){
	cShowActivity('');
	var id = $.trim($("#upd_id").val());
	var url = "##LBL_SITE_URL##index.php/";
	$.post(url,{page:"adminstration",choice:"addleavescheme",ce:0,id:id},function(res){
		show_fancybox(res);
	});
}
function editLeaveScheme(Edit,id_leavescheme){
	cShowActivity('');
	//var id = $.trim($("#upd_id").val());
	//alert(id_leavescheme);
	var url = "##LBL_SITE_URL##index.php/";
	$.post(url,{page:"adminstration",choice:"editleavescheme",ce:0,id:id_leavescheme},function(res){
		show_fancybox(res);
	});
}
var id_leavescheme;
function del(id_leavescheme,chc){
	if(chc==''){
		chc=jqueryConfirm("Do you really want to delete this record?","del",id_leavescheme);
	}
	if(chc){
		cShowActivity('1');
	}else{
		return false;
	}
 	var url = "##LBL_SITE_URL##index.php/";
	$.post(url,{page:"adminstration",choice:"deleteLeaveScheme",ce:0,id_leavescheme:id_leavescheme},function(res){
		$("#adminstration_Leavescheme").html(res);
		cHideActivity();
	});
}
</script>
{/literal}
